@font-face {
    font-family: 'tr_lucida_sans_unicoderegular';
    src: url(../fonts/'tr_lucida_sans_unicode_regular-webfont.eot');
    src: url(../fonts/'tr_lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url(../fonts/'tr_lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url(../fonts/'tr_lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url(../fonts/'tr_lucida_sans_unicode_regular-webfont.ttf') format('truetype'),
         url(../fonts/'tr_lucida_sans_unicode_regular-webfont.svg#tr_lucida_sans_unicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial Regular';
    src: url(../fonts/'Arial Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArialBlackRegular';
    src: url(../fonts/'Arial Black Regular.ttf');
    font-weight: normal;
    font-style: normal;
}



body {
  font-family: 'tr_lucida_sans_unicoderegular', Arial, sans-serif;
  width: 912px;
  margin: auto;
}

section {
  margin-left: 5px;
  margin-top: -13px;
}

.header img {
  margin-top: 9px;
}

.contact {
  float: left;
  color: #5e696d;
  font-size: 18px;
  letter-spacing: 0.55px;
}

.contact img {
  position: relative;
  top: 5px;
}

.login {
  float: left;
  margin-left: 15px;
  padding-bottom: 6px;
  margin-top: -2px;
  background: #1f6787; /* Old browsers */
  background: -moz-linear-gradient(top, #1f6787 0%, #0d3458 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1f6787 0%,#0d3458 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1f6787 0%,#0d3458 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0d3458',GradientType=0 ); /* IE6-9 */
  border-radius: 3px/3px;
  -webkit-box-shadow: 7px 7px 14px -8px rgba(0,0,0,1);
  -moz-box-shadow: 7px 7px 14px -8px rgba(0,0,0,1);
  box-shadow: 7px 7px 14px -8px rgba(0,0,0,1);
}

.login img.man {
  position: relative;
  top: 5px;
  padding-left: 5px;
}

.login1 {
  width: 109px;
  height: 11px;
}

.login2 {
  width: 110px;
  height: 11px;
  margin-left: 3px;
}

.log, .registration, .forgot, .goods, .total {
  background: none;
  border: none;
  color: white;
  font-size: 11px;
}
.forgot {
  margin-left: 7px;
  text-decoration: underline;
  color: #bfbfbf;
  font-size: 12px;
  margin-top: 7px;
  padding-right: 10px;
}

.registration {
  margin-left: -6px;
}

.log {
  margin-left: -2px;
}

.I {
  position: relative;
  right: 2px;
  margin-bottom: -2px;
  margin-left: -2px;
}

form.goods-total img {
  position: relative;
  left: 3px;
  top: 5px;
}

.goods-total {
  position: relative;
  top: -41px;
 left: 680px;
}
/*.goods:before{
  content: url(../img/basket.png);
  position: relative;
  top:-200px;
  left:15px;
}*/
.goods {
  color: #8a9296;
  font-size: 11px;
}

.total {
  color: #8a9296;
  font-size: 11px;
  margin-left: 6px;
  letter-spacing: 0.95px;
}

span.item {
  color: #10507e;
  font-size: 12px;
  font-weight: 700;
  margin-left: -8px;
}

span.money {
  color: #10507e;
  font-size: 12px;
  font-weight: 700;
  margin-left: 3px;
}

.navi {
  margin-right: 7px;
  margin-top: 4px;
  float: right;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 1px;
  border: 1px solid #c1c8cb;
  border-radius: 10px/10px;
}

.header {
  margin-top: 25px;
}

.nav {
  margin-top: 3px;
  overflow: hidden;
}

.nav li {
  display: inline;
  border-radius: 11px/11px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav li a {
  text-decoration: none;
  color: #b1bcc0;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 12px;
}

.nav ul {
  background: rgba(80,88,96,1);
  background: -moz-linear-gradient(top, rgba(80,88,96,1) 0%, rgba(58,64,70,1) 6%, rgba(45,50,54,1) 9%, rgba(2,2,2,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,88,96,1)), color-stop(6%, rgba(58,64,70,1)), color-stop(9%, rgba(45,50,54,1)), color-stop(100%, rgba(2,2,2,1)));
  background: -webkit-linear-gradient(top, rgba(80,88,96,1) 0%, rgba(58,64,70,1) 6%, rgba(45,50,54,1) 9%, rgba(2,2,2,1) 100%);
  background: -o-linear-gradient(top, rgba(80,88,96,1) 0%, rgba(58,64,70,1) 6%, rgba(45,50,54,1) 9%, rgba(2,2,2,1) 100%);
  background: -ms-linear-gradient(top, rgba(80,88,96,1) 0%, rgba(58,64,70,1) 6%, rgba(45,50,54,1) 9%, rgba(2,2,2,1) 100%);
  background: linear-gradient(to bottom, rgba(80,88,96,1) 0%, rgba(58,64,70,1) 6%, rgba(45,50,54,1) 9%, rgba(2,2,2,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505860', endColorstr='#020202', GradientType=0 );
  border-radius: 5px/5px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 129px;
  -webkit-box-shadow: 7px 7px 14px -8px rgba(0,0,0,1);
  -moz-box-shadow: 7px 7px 14px -8px rgba(0,0,0,1);
  box-shadow: 7px 7px 14px -8px rgba(0,0,0,1);
}

.nav li a:hover {
  color: white;
}

.nav li:hover {
  background-color: #13486b;
}

.nav li.active {
  background-color: #13486b;
}

.nav li.active a {
  color: white;
}

.left {
  margin-top: -34px;
  float: left;
  width: 185px;
}

.left ul {
  margin-left: 47px;
  margin-top: 11px;
  margin-bottom: -15px;
}

.left li {
  list-style: none;
}

.left li:before {
  content: url(../img/mark1.png);
  position: relative;
  right: 3px;
}


.left li a {
  font-size: 12.7px;
  /*line-height: 2.5;*/
  text-decoration: none;
  color: #114165;

}

.left li a:hover {
  font-size: 13px;
  line-height: 2.1;
  color: #0c3256;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  margin-left: -13px;
}

.left li a:hover:before  {
  content: url(../img/mark-active.png);
  position: relative;
  top: 3px;
}

.left p {
  color: #114165;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 32px;
  background-image: url(../img/label.png);
  background-repeat: no-repeat;
  position: relative;
  top: 15px;
}

.left p.catalog {
  background-image: url(../img/catalog.png);
  position: relative;
  top: 15px;
  font-weight: 600;
  background-repeat: no-repeat;
  font-size: 13px;
  color: #0c3256;
  padding-left: 28px;
  padding-top: 8px;
  padding-bottom: 15px;
}

.left p.catalog1 {
  margin-top: 4px;
    font-size: 14px;
  padding-top: 8px;
  padding-left: 31px;
  font-weight: 500;
}
.left p.catalog33 {
  margin-top: -21px;
  font-size: 14px;
  padding-top: 8px;
  padding-left: 31px;
  font-weight: 500;
}
.left p.catalog44 {
  margin-top: -21px;
  font-size: 14px;
  padding-top: 8px;
  padding-left: 31px;
  font-weight: 500;
}

.right {
  float: right;
  width: 185px;
  margin-top: -20px;
}

.right p {
  background-repeat: no-repeat;
  padding-top: 6px;
  padding-left: 32px;
  padding-bottom: 15px;
  color: #0c3256;
}

p.catalog21 {
  font-size: 14px;
  background-image: url(../img/label.png);
  position: relative;
  left: 14px;
  top: 6px;
}
p.catalog22 {
  font-size: 14px;
  background-image: url(../img/label.png);
  position: relative;
  left: 12px;
  top: -1px;
}

.right ul {
  margin-left: 22px;
  margin-top: -2px;
}

.right ul li {
  padding-bottom: 15px;
}

.right li label {
  font-size: 12.7px;
  color: #0c3256;
}

.botton {
  position: relative;
  left: 26px;
}

.right input {
  position: relative;
  top: 2px;
}

.brand22 {
  margin-top: 7px;
  line-height: 0.75;
}
.brand23 {
  margin-top: 3px;
  line-height: 0.75;
}
.brand li {
  padding-left: -1px;
}

.brand23 input[type="checkbox"] {
    display: none;
}
.brand23 input[type="checkbox"] + label {
    background: url(../img/check.png) 0 0 no-repeat;
    padding-left: 24px;
}
.brand23 input[type="checkbox"]:checked + label {
  background: url(../img/checked.png) 0 0 no-repeat;
  padding-left: 24px;
}
.brand22 input[type="checkbox"] {
    display: none;
}
.brand22 input[type="checkbox"] + label {
    background: url(../img/check.png) 0 0 no-repeat;
    padding-left: 24px;
}
.brand22 input[type="checkbox"]:checked + label {
  background: url(../img/checked.png) 0 0 no-repeat;
  padding-left: 24px;
}

.right p.brand {
  position: relative;
  left: -1px;
  font-weight: 600;
  font-size: 13px;
  background-image: url(../img/catalog.png);
  background-repeat: no-repeat;
  padding-top: 7px;
  padding-left: 31px;
  padding-bottom: 15px;
}

button {
  font-size: 12px;
      color: white;
      border-radius: 15px/15px;
      padding-top: 8px;
      padding-bottom: 6px;
      padding-left: 10px;
      padding-right: 14px;
      border: none;
      background-color: #13486b;
      margin-left: 23px;
      margin-top: 2px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(201,202,203,1);
  -moz-box-shadow: 2px 3px 5px 0px rgba(201,202,203,1);
  box-shadow: 2px 3px 5px 0px rgba(201,202,203,1);
}

ul.side1 {
  margin-top: 12px;
  margin-left: 39px;
}
ul.side1 li a{
  line-height: 2.2;
}
ul.side2 {
  margin-top: 12px;
  margin-left: 39px;
}
ul.side2 li a{
  line-height: 2.2;
}
ul.side3 {
  margin-top: 12px;
  margin-left: 39px;
}
ul.side3 li a{
  line-height: 2.2;
}
.main {
  background: rgba(229,231,232,1);
  background: -moz-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,231,232,1)), color-stop(100%, rgba(147,167,176,1)));
  background: -webkit-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
  background: -o-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
  background: -ms-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
  background: linear-gradient(to bottom, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0', GradientType=0 );
  overflow: hidden;
  margin: auto;
  width: 515px;
  margin-top: -23px;
  padding-left: 12px;
  border-radius: 2px/2px;
}

.box1 {
  height: 180px;
    float: left;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 19px;
    padding-bottom: 8px;
}
.box2 {
  height: 180px;
    float: left;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 19px;
    padding-bottom: 27px;
}

figure {
  border: 1px solid #a7b1b4;
  border-radius: 5px/5px;
  width: 135px;
  background-color: white;
}

figure img {
  padding-left: 29px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.box1 p.title {
  font-size: 14.6px;
  color: #206988;
  font-weight: bold;
  text-align: center;
}

.box1 p.subtitle {
  font-size: 14.6px;
  text-align: center;
}
.box2 p.title {
  font-size: 14.6px;
  color: #206988;
  font-weight: bold;
  text-align: center;
}

.box2 p.subtitle {
  font-size: 14.6px;
  text-align: center;
}

.box1 p.prise {
  font-size: 16px;
  text-align: center;
  color: #114165;
  font-weight: 900;
  font-style: oblique;
  padding-top: 2px;
}
.box2 p.prise {
  font-size: 16px;
  text-align: center;
  color: #114165;
  font-weight: 900;
  font-style: oblique;
  padding-top: 2px;
}
.box1 p.prise span {
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-align: center;
  color: #114165;
  font-weight: 900;
  font-style: oblique;
  padding-top: 2px;
}

.box2 p.prise span {
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-align: center;
  color: #114165;
  font-weight: 900;
  font-style: oblique;
  padding-top: 2px;
}

.brandlogo {
  clear:both;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 24px;
}

.footer {
  margin-top: 15px;
  padding-top: 10px;
  background-color: #213a4d;
  text-align: center;
}

.footer ul {
  padding-bottom: -1px;
}

.footer li {
  display: inline;
}

.footer li a {
  color: #afb7bc;
  text-decoration: none;
  font-size: 12px;
  padding-right: 18px;
  padding-left: 9px;
}

.footer li a:hover {
  color: #4d9fbd;
}
.footer .active a {
  color: #4d9fbd;
}

.footer li img {
  position: relative;
  right: 4px;
  top: 1px;
}

.footer p{
  font-size: 10px;
  color: #7f4740;
  padding-bottom: 50px;
  margin-top: 14px;
  margin-left: -6px;
}
